{% extends 'blogapp/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

    <section id="login">

                <div class="card">
                    <div class="card-body">

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                         <h2 class="text-secondary border-bottom">Password Reset</h2>
                    </div>
                    {{form|crispy}}
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block">Send Message</button>
                    </div>

                </form>
                    </div>
                </div>

</section>

{% endblock %}