{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section id="content-section" style="background: ghostwhite">
<div class="container">
    <div class="row py-3">
        <div class="col-md-8">
        <div class="person p-2 mb-4">
            <div class="image">
        <img class="rounded-circle float-left mr-2" src="{{user.profile.image.url}}" height="150" width="150">
                </div>
                  <div class="data pt-3">
                      <h2 class="account-heading">{{ user.username }}</h2>
                      <p class="text-secondary">{{ user.email }}</p>
                  </div>
        </div>
            </div>
        </div>
</div>
    </section>
{% endblock %}